.testimonial-container{
    width:100%;
    height: auto;
    padding: 10px 130px 10px 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.testimonial-comment-container{
    width:100%;
    margin-top: 70px;
    display: flex;
    gap:20px;
    justify-content: space-between;
}
.testimonial-hr{
    stroke-width: 1px;
    stroke: var(--Green, #A0CD9E);
    width:200px;
    margin-top: 15px;
}
.container{
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.testimonail-title{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.testimonial-image{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50px;
}
.testimonial-card-head{
    color: var(--black-fonts-headings, #2D2E2E);
    text-align: center;
    /* Text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    margin-top: 15px;
}
.testimonial-card-paragraph{
    color: var(--black-fonts-headings, #2D2E2E);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    margin-top: 15px;
}
.final-head{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 200px;
}
.final-paragraph{
    color: #000;
    text-align: center;
    width: 500px;
    /* Text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    margin-top: 50px;
}
.final-list-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}
@media (max-width: 952px) {
    .testimonial-container{
        padding: 10px 40px 10px 40px;
    }
    .testimonial-comment-container{
        overflow-x: auto;
    } 
    .container{
        margin-left:20px;
        margin-right: 30px;
    }
    .final-paragraph{
        width: 100%;
    }
    
}
@media (max-width: 720px) {
    .container{
        margin-left:20px;
        margin-right: 30px;
        width:400px;
    }
}